:root {
	--primary-color: #1A171B ;
	--secondary-color: #FFF ;
	
	--body-bg-color: #FFF;
	--navbar-bg-color: rgba(26, 23, 27, 0.1);
	--footer-bg-color: rgba(26, 23, 27, 0.1);

	// others theme colors
}