<footer class="footer">
    <div class="text-center">
        © {{ 'now' | date('Y') }}
        <a target="_blank" href="#">
            {{ customTranslate("tests.layout.footer.copyright.text1") }}
        </a>
        {{ " " }}
        {{ customTranslate("tests.layout.footer.copyright.text2") }}
    </div>
</footer>